# Laravel specific
/vendor/
storage/
tmp/
/node_modules/
/public/storage
/storage/*.key
/storage/app/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp

# Others
*.swp
